<h2>Menu เมนูอาหาร</h2>
<hr>
<h3 class="mt-4">เมนูอาหารคาว</h3>
<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="https://i.pinimg.com/564x/95/16/98/9516983d16fe991c7e5d24dc2726a044.jpg"
                            class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-4">เมนูอาหารหวาน</h3>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="https://i.pinimg.com/564x/95/16/98/9516983d16fe991c7e5d24dc2726a044.jpg"
                            class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="text-center">
                        <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
                    </div>
                    <div class="card-body">
                        <div class="card-title h5">
                            ทดสอบ ทดสอบ
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>